@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.pause {
		animation-play-state: paused;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

html > body * {
	font-family:
		"Pretendard Variable",
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		"Helvetica Neue",
		"Segoe UI",
		"Apple SD Gothic Neo",
		"Noto Sans KR",
		"Malgun Gothic",
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		sans-serif;
}

* {
	white-space: pre-wrap;
}
