@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

html > body * {
	font-family: "Pretendard-Regular";
}

.author-thumbnail {
	border: 1px solid transparent;
	border-image-slice: 1;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(to bottom left, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
}

#eOWQlgyTpZH7_to {
	animation: eOWQlgyTpZH7_to__to 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH7_to__to {
	0% {
		transform: translate(297.79792px, 269.11249px);
	}
	16.666667% {
		transform: translate(297.79792px, 343.95416px);
	}
	100% {
		transform: translate(297.79792px, 343.95416px);
	}
}
#eOWQlgyTpZH11_to {
	animation: eOWQlgyTpZH11_to__to 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH11_to__to {
	0% {
		transform: translate(268.679941px, 306.533325px);
	}
	7.333333% {
		transform: translate(268.679941px, 306.533325px);
	}
	16.666667% {
		transform: translate(312.871521px, 343.95416px);
	}
	23.333333% {
		transform: translate(313.203788px, 381.374995px);
	}
	100% {
		transform: translate(313.203788px, 381.374995px);
	}
}
#eOWQlgyTpZH15_to {
	animation: eOWQlgyTpZH15_to__to 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH15_to__to {
	0% {
		transform: translate(365.527745px, 309.064244px);
	}
	3.333333% {
		transform: translate(365.527745px, 309.064244px);
	}
	10% {
		transform: translate(365.527745px, 363.330036px);
	}
	100% {
		transform: translate(365.527745px, 363.330036px);
	}
}
#eOWQlgyTpZH17 {
	animation: eOWQlgyTpZH17_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH17_c_o {
	0% {
		opacity: 0;
	}
	3.333333% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH19_ts {
	animation: eOWQlgyTpZH19_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH19_ts__ts {
	0% {
		transform: translate(380.894865px, 364.920308px) scale(-0.008334, 1);
	}
	11% {
		transform: translate(380.894865px, 364.920308px) scale(-0.008334, 1);
	}
	16.666667% {
		transform: translate(380.894865px, 364.920308px) scale(1, 1);
	}
	100% {
		transform: translate(380.894865px, 364.920308px) scale(1, 1);
	}
}
#eOWQlgyTpZH21 {
	animation: eOWQlgyTpZH21_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH21_c_o {
	0% {
		opacity: 0;
	}
	9.666667% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH23_ts {
	animation: eOWQlgyTpZH23_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH23_ts__ts {
	0% {
		transform: translate(423.367631px, 391.467494px) scale(0.003353, 1);
	}
	10% {
		transform: translate(423.367631px, 391.467494px) scale(0.003353, 1);
	}
	20% {
		transform: translate(423.367631px, 391.467494px) scale(0.992082, 1);
	}
	100% {
		transform: translate(423.367631px, 391.467494px) scale(0.992082, 1);
	}
}
#eOWQlgyTpZH27_ts {
	animation: eOWQlgyTpZH27_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH27_ts__ts {
	0% {
		transform: translate(456.900939px, 385.856176px) scale(0.004796, 1);
	}
	11% {
		transform: translate(456.900939px, 385.856176px) scale(0.004796, 1);
	}
	23.333333% {
		transform: translate(456.900939px, 385.856176px) scale(0.956571, 1);
	}
	100% {
		transform: translate(456.900939px, 385.856176px) scale(0.956571, 1);
	}
}
#eOWQlgyTpZH29 {
	animation: eOWQlgyTpZH29_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH29_c_o {
	0% {
		opacity: 0;
	}
	19.666667% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH31_ts {
	animation: eOWQlgyTpZH31_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH31_ts__ts {
	0% {
		transform: translate(408.682371px, 385.571455px) scale(1, 0.238137);
	}
	20% {
		transform: translate(408.682371px, 385.571455px) scale(1, 0.238137);
	}
	32.333333% {
		transform: translate(408.682371px, 385.571455px) scale(1, 1.190684);
	}
	100% {
		transform: translate(408.682371px, 385.571455px) scale(1, 1.190684);
	}
}
#eOWQlgyTpZH35_ts {
	animation: eOWQlgyTpZH35_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH35_ts__ts {
	0% {
		transform: translate(462.936683px, 362.848949px) scale(0.026882, 1);
	}
	22% {
		transform: translate(462.936683px, 362.848949px) scale(0.026882, 1);
	}
	30.333333% {
		transform: translate(462.936683px, 362.848949px) scale(1, 1);
	}
	100% {
		transform: translate(462.936683px, 362.848949px) scale(1, 1);
	}
}
#eOWQlgyTpZH39_ts {
	animation: eOWQlgyTpZH39_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH39_ts__ts {
	0% {
		transform: translate(495.308076px, 355.371783px) rotate(-1.857719deg) scale(1.58536, 0.082429);
	}
	25.333333% {
		transform: translate(495.308076px, 355.371783px) rotate(-1.857719deg) scale(1.58536, 0.082429);
	}
	34% {
		transform: translate(495.308076px, 355.371783px) rotate(-1.857719deg) scale(1.58536, 1.033687);
	}
	100% {
		transform: translate(495.308076px, 355.371783px) rotate(-1.857719deg) scale(1.58536, 1.033687);
	}
}
#eOWQlgyTpZH43_ts {
	animation: eOWQlgyTpZH43_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH43_ts__ts {
	0% {
		transform: translate(513.854877px, 400.291128px) scale(0.026345, 1);
	}
	25.333333% {
		transform: translate(513.854877px, 400.291128px) scale(0.026345, 1);
	}
	31% {
		transform: translate(513.854877px, 400.291128px) scale(0.050057, 1);
	}
	35.666667% {
		transform: translate(513.854877px, 400.291128px) scale(1, 1);
	}
	100% {
		transform: translate(513.854877px, 400.291128px) scale(1, 1);
	}
}
#eOWQlgyTpZH47_ts {
	animation: eOWQlgyTpZH47_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH47_ts__ts {
	0% {
		transform: translate(521.733833px, 359.146915px) scale(0.999996, 0.11848);
	}
	23% {
		transform: translate(521.733833px, 359.146915px) scale(0.999996, 0.11848);
	}
	30.333333% {
		transform: translate(521.733833px, 359.146915px) scale(1, 1);
	}
	36% {
		transform: translate(521.733833px, 359.146915px) scale(4.915657, 1);
	}
	100% {
		transform: translate(521.733833px, 359.146915px) scale(4.915657, 1);
	}
}
#eOWQlgyTpZH51_ts {
	animation: eOWQlgyTpZH51_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH51_ts__ts {
	0% {
		transform: translate(626.903111px, 343.453208px) rotate(-29.91184deg) scale(1, 0.055063);
	}
	22.333333% {
		transform: translate(626.903111px, 343.453208px) rotate(-29.91184deg) scale(1, 0.055063);
	}
	33% {
		transform: translate(626.903111px, 343.453208px) rotate(-29.91184deg) scale(1, 1.534878);
	}
	100% {
		transform: translate(626.903111px, 343.453208px) rotate(-29.91184deg) scale(1, 1.534878);
	}
}
#eOWQlgyTpZH55_ts {
	animation: eOWQlgyTpZH55_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH55_ts__ts {
	0% {
		transform: translate(693.493618px, 328.268935px) rotate(30.050413deg) scale(1, 0.153083);
	}
	23% {
		transform: translate(693.493618px, 328.268935px) rotate(30.050413deg) scale(1, 0.153083);
	}
	33% {
		transform: translate(693.493618px, 328.268935px) rotate(30.050413deg) scale(1, 1.501068);
	}
	100% {
		transform: translate(693.493618px, 328.268935px) rotate(30.050413deg) scale(1, 1.501068);
	}
}
#eOWQlgyTpZH57 {
	animation: eOWQlgyTpZH57_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH57_c_o {
	0% {
		opacity: 0;
	}
	30.666667% {
		opacity: 0;
	}
	31% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH59_ts {
	animation: eOWQlgyTpZH59_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH59_ts__ts {
	0% {
		transform: translate(660.940171px, 381.374994px) scale(0.937819, 0.0955);
	}
	31% {
		transform: translate(660.940171px, 381.374994px) scale(0.937819, 0.0955);
	}
	38% {
		transform: translate(660.940171px, 381.374994px) scale(0.937819, 0.766054);
	}
	100% {
		transform: translate(660.940171px, 381.374994px) scale(0.937819, 0.766054);
	}
}
#eOWQlgyTpZH63_ts {
	animation: eOWQlgyTpZH63_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH63_ts__ts {
	0% {
		transform: translate(695.330168px, 360.135117px) scale(1.164299, 0.066299);
	}
	33% {
		transform: translate(695.330168px, 360.135117px) scale(1.164299, 0.066299);
	}
	39.333333% {
		transform: translate(695.330168px, 360.135117px) scale(1.164299, 1);
	}
	44.666667% {
		transform: translate(695.330168px, 360.135117px) scale(2.228465, 1);
	}
	100% {
		transform: translate(695.330168px, 360.135117px) scale(2.228465, 1);
	}
}
#eOWQlgyTpZH67_ts {
	animation: eOWQlgyTpZH67_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH67_ts__ts {
	0% {
		transform: translate(754.674351px, 363.405238px) scale(0.93805, 0.033162);
	}
	34.666667% {
		transform: translate(754.674351px, 363.405238px) scale(0.93805, 0.033162);
	}
	40.333333% {
		transform: translate(754.674351px, 363.405238px) scale(0.93805, 0.739767);
	}
	46.333333% {
		transform: translate(754.674351px, 363.405238px) scale(2.787609, 0.739767);
	}
	100% {
		transform: translate(754.674351px, 363.405238px) scale(2.787609, 0.739767);
	}
}
#eOWQlgyTpZH69 {
	animation: eOWQlgyTpZH69_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH69_c_o {
	0% {
		opacity: 0;
	}
	44% {
		opacity: 0;
	}
	44.333333% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH71_ts {
	animation: eOWQlgyTpZH71_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH71_ts__ts {
	0% {
		transform: translate(831.392285px, 364.920308px) scale(-0.008334, 1);
	}
	44.333333% {
		transform: translate(831.392285px, 364.920308px) scale(-0.008334, 1);
	}
	52% {
		transform: translate(831.392285px, 364.920308px) scale(1, 1);
	}
	100% {
		transform: translate(831.392285px, 364.920308px) scale(1, 1);
	}
}
#eOWQlgyTpZH75_ts {
	animation: eOWQlgyTpZH75_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH75_ts__ts {
	0% {
		transform: translate(816.168786px, 363.330036px) scale(0.998757, 0.0385);
	}
	37% {
		transform: translate(816.168786px, 363.330036px) scale(0.998757, 0.0385);
	}
	49% {
		transform: translate(816.168786px, 363.330036px) scale(0.998757, 1.042553);
	}
	100% {
		transform: translate(816.168786px, 363.330036px) scale(0.998757, 1.042553);
	}
}
#eOWQlgyTpZH79_ts {
	animation: eOWQlgyTpZH79_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH79_ts__ts {
	0% {
		transform: translate(953.570707px, 343.857631px) scale(0.036844, 1);
	}
	37.333333% {
		transform: translate(953.570707px, 343.857631px) scale(0.036844, 1);
	}
	46.666667% {
		transform: translate(953.570707px, 343.857631px) scale(1, 1);
	}
	57.666667% {
		transform: translate(953.570707px, 343.857631px) scale(1, 1.997427);
	}
	100% {
		transform: translate(953.570707px, 343.857631px) scale(1, 1.997427);
	}
}
#eOWQlgyTpZH83_ts {
	animation: eOWQlgyTpZH83_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH83_ts__ts {
	0% {
		transform: translate(954.247067px, 360.135117px) scale(1.164299, 0.066299);
	}
	46.666667% {
		transform: translate(954.247067px, 360.135117px) scale(1.164299, 0.066299);
	}
	56.666667% {
		transform: translate(954.247067px, 360.135117px) scale(1.164299, 1);
	}
	61.333333% {
		transform: translate(954.247067px, 360.135117px) scale(2.228465, 1);
	}
	100% {
		transform: translate(954.247067px, 360.135117px) scale(2.228465, 1);
	}
}
#eOWQlgyTpZH87_ts {
	animation: eOWQlgyTpZH87_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH87_ts__ts {
	0% {
		transform: translate(1041.021752px, 360.135117px) scale(1.164299, 0.066299);
	}
	57.333333% {
		transform: translate(1041.021752px, 360.135117px) scale(1.164299, 0.066299);
	}
	65% {
		transform: translate(1041.021752px, 360.135117px) scale(1.164299, 1);
	}
	77.333333% {
		transform: translate(1041.021752px, 360.135117px) scale(2.228465, 1);
	}
	100% {
		transform: translate(1041.021752px, 360.135117px) scale(2.228465, 1);
	}
}
#eOWQlgyTpZH91_ts {
	animation: eOWQlgyTpZH91_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH91_ts__ts {
	0% {
		transform: translate(1014.989565px, 343.954161px) scale(1.096551, 0.01);
	}
	49.666667% {
		transform: translate(1014.989565px, 343.954161px) scale(1.096551, 0.01);
	}
	69.333333% {
		transform: translate(1014.989565px, 343.954161px) scale(1.096551, 1);
	}
	100% {
		transform: translate(1014.989565px, 343.954161px) scale(1.096551, 1);
	}
}
#eOWQlgyTpZH95_ts {
	animation: eOWQlgyTpZH95_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH95_ts__ts {
	0% {
		transform: translate(1104.147526px, 363.330036px) scale(0.998757, 0.0385);
	}
	73.333333% {
		transform: translate(1104.147526px, 363.330036px) scale(0.998757, 0.0385);
	}
	87.666667% {
		transform: translate(1104.147526px, 363.330036px) scale(0.998757, 1.042553);
	}
	100% {
		transform: translate(1104.147526px, 363.330036px) scale(0.998757, 1.042553);
	}
}
#eOWQlgyTpZH97 {
	animation: eOWQlgyTpZH97_c_o 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH97_c_o {
	0% {
		opacity: 0;
	}
	91.666667% {
		opacity: 0;
	}
	92% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
#eOWQlgyTpZH99_ts {
	animation: eOWQlgyTpZH99_ts__ts 3000ms linear 1 normal forwards;
}
@keyframes eOWQlgyTpZH99_ts__ts {
	0% {
		transform: translate(1119.126553px, 364.705657px) scale(-0.008334, 1);
	}
	92% {
		transform: translate(1119.126553px, 364.705657px) scale(-0.008334, 1);
	}
	98.333333% {
		transform: translate(1119.126553px, 364.705657px) scale(1, 1);
	}
	100% {
		transform: translate(1119.126553px, 364.705657px) scale(1, 1);
	}
}
